@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);
* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
}

body {
    height: 100%;
  background: url("sfback.png");
  display: flex;
  justify-content: center;
  align-items: baseline;
}

#wrapper {
  position: absolute;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-left:;
}

h1 {
  margin-top: 10px;
  font: 30px roboto;
  text-align: center;
  color: white;
}



#card {

    float: right;
    position: absolute;
    border-spacing: 10px;
    border-collapse: separate;
    text-align: center;
    color: black;


    
}
    #card td {
        border-radius: 50%;
        padding: 10px;
        height: 80px;
        width: 80px;
        font: 14px roboto;
        cursor: pointer;



        
    }
#card td:hover {

}
#card .dabbedRed {
  background: #FF0000;
}
#card .dabbedBlue {
  background: #0000FF;
}
#card .dabbedYellow {
  background: #E6E607;
}
#card .dabbedGreen {
  background: #008000;
}
#card .dabbedPurple {
  background: #800080;
}
#card .dabbedOrange {
  background: #FFA500;
}
#card .dabbedBlack {
  background: #000000;
}

#menu {
  position: relative;
  left: 560px;
  width: 100px;
  height: 540px;
  margin-top: 10px;
}
#menu #scoreboard {
  height: 200px;
  width: 100px;
  background: rgba(34, 34, 34, 0.6);
  font: 12px roboto;
  text-align: center;
  color: #FFF;
}
#menu #scoreboard .title {
  padding-top: 9px;
  letter-spacing: 1px;
}
#menu #scoreboard .score {
  font-size: 30px;
}
#menu .cardFunction {
  margin-top: 10px;
  height: 45px;
  width: 100px;
  background: rgba(34, 34, 34, 0.6);
  font: 12px/45px roboto;
  color: #FFF;
}
#menu .cardFunction:hover {
  background: #222222;
  -moz-transition-duration: 0.25s;
  -o-transition-duration: 0.25s;
  -webkit-transition-duration: 0.25s;
  transition-duration: 0.25s;
}
#menu #palette {
  margin-top: 10px;
  height: 220px;
  background: rgba(34, 34, 34, 0.6);
  font: 12px/28px roboto;
  text-align: center;
  color: white;
}
#menu #palette .dabSelect {
  float: left;
  border-radius: 24px;
  margin: 0 0 4px 4px;
  height: 44px;
  width: 44px;
  vertical-align: top;
}
#menu #palette .dabSelect:hover {
  border: 3px solid #FFF;
}
#menu #palette #dabRed {
  background: #FF0000;
}
#menu #palette #dabBlue {
  background: #0000FF;
}
#menu #palette #dabYellow {
  background: #E6E607;
}
#menu #palette #dabGreen {
  background: #008000;
}
#menu #palette #dabPurple {
  background: #800080;
}
#menu #palette #dabOrange {
  background: #FFA500;
}
#menu #palette #dabBlack {
  background: #000000;
}
#menu #palette #dabRandom {
  background: #FFFFFF;
  font: 20px roboto;
}
#menu #palette .dabActive {
  border: 3px solid #AAA;
}

#credit {
  margin-top: 10px;
  width: 100%;
  font: 12px roboto;
  letter-spacing: 2px;
  text-shadow: -1px -1px #888;
  text-align: center;
}
#credit a {
  text-decoration: none;
  color: #111;
}
#credit a:hover {
  text-shadow: 1px 1px #888;
}

.blank {
    opacity: 0.0;
    border-style: solid;
    border-color: white;
}

.button {
    
    border-style: solid;
    border-color: white;
    border-radius: 108px;
    background: linear-gradient(145deg, #5bc6ff, #4da7db);
    box-shadow: 18px 18px 40px #3d85af, -18px -18px 40px #6dedff;
}


@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

#blue {
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
}